In [8]:
import numpy as np 
import pandas as pd 
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
print(df)
print(df['W'])
type(df)
print(df.W)
df['new']=df['W']+df['Y']
print(df)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [10]:
import numpy as np 
import pandas as pd 
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df['new']=df['W']+df['Y']
df.drop('new',axis=1,inplace=True)
print(df)
print(df.shape)
print(df.loc[['A','B'],['W','Z']])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
(5, 4)
          W         Z
A  2.706850  0.503826
B  0.651118  0.605965

In [15]:
import numpy as np 
import pandas as pd 
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df['new']=df['W']+df['Y']
print(df.loc['A'])
print(df.loc[['A','B'],['W','Y']])
booldf=df>0
print(booldf)
print(df[df>0])
print(df[df['Z']<0]['X'])

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
new    3.614819
Name: A, dtype: float64
          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
       W      X      Y      Z    new
A   True   True   True   True   True
B   True  False  False   True  False
C  False   True   True  False  False
D   True  False  False   True  False
E   True   True   True   True   True
          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118       NaN       NaN  0.605965       NaN
C       NaN  0.740122  0.528813       NaN       NaN
D  0.188695       NaN       NaN  0.955057       NaN
E  0.190794  1.978757  2.605967  0.683509  2.796762
C    0.740122
Name: X, dtype: float64

In [16]:
import numpy as np 
import pandas as pd 
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df['new']=df['W']+df['Y']
booldf=df['W']
result=df[booldf]
mycols=['Y','X']
print(result[mycols])

KeyError: "None of [Index([  2.706849839399938,  0.6511179479432686,  -2.018168244037392,\n       0.18869530944922425, 0.19079432237171562],\n      dtype='float64')] are in the [columns]"

In [17]:
import numpy as np 
import pandas as pd 
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df.reset_index()
newind='CA NY WY OR CO'.split()
df['States']=newind
print(df)

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [21]:
import numpy as np 
import pandas as pd 
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])
df.index.names=['groups','num']
print(df)
df.xs('G1')

                   A         B
groups num
G1     1   -0.925874  1.862864
       2   -1.133817  0.610478
       3    0.386030  2.084019
G2     1   -0.376519  0.230336
       2    0.681209  1.035125
       3   -0.031160  1.939932

            A         B
num
1   -0.925874  1.862864
2   -1.133817  0.610478
3    0.386030  2.084019

In [13]:
import numpy as np 
import pandas as pd 
d={'A':[1,2,np.nan],'B':[2,np.nan,np.nan],'C':[1,2,3]}
df=pd.DataFrame(d)
print(df)
#print(df.dropna(thresh=3))
print(df['A'].fillna(value=df['C'].mean()))

     A    B  C
0  1.0  2.0  1
1  2.0  NaN  2
2  NaN  NaN  3
0    1.0
1    2.0
2    2.0
Name: A, dtype: float64

In [16]:
import numpy as np 
import pandas as pd 
data={'Company':['GOOGLE','GOOGLE','META','META','MBZ','MBZ'],'Person':['SAM','LOLO','POLO','AMY','SARAH','REMA'],'Sales':[100,200,320,210,340,560]}
df=pd.DataFrame(data)
print(df)
byComp=df.groupby('Company')
print(byComp)
#print(byComp.mean())
#print(byComp.sum())
#print(byComp.count())
#print(byComp.max())
print(byComp.describe())

  Company Person  Sales
0  GOOGLE    SAM    100
1  GOOGLE   LOLO    200
2    META   POLO    320
3    META    AMY    210
4     MBZ  SARAH    340
5     MBZ   REMA    560
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002050F7BA150>
        Sales
        count   mean         std    min    25%    50%    75%    max
Company
GOOGLE    2.0  150.0   70.710678  100.0  125.0  150.0  175.0  200.0
MBZ       2.0  450.0  155.563492  340.0  395.0  450.0  505.0  560.0
META      2.0  265.0   77.781746  210.0  237.5  265.0  292.5  320.0