In [1]:
1+1

2

In [2]:
1*3

3

In [3]:
1/2

0.5

In [4]:
2**5

32

In [6]:
5%2

1

In [10]:
num=13
name='Adrija'
print('My no. is {one} and name is {two}'.format(one=num,two=name))

My no. is 13 and name is Adrija

In [12]:
name='hello'
name[0:4:1]

'hell'

In [8]:
var=2
var=var+1
var

3

In [20]:
nest=[1,2,[3,4,['pokemon','ash']]]
nest[3][1]

4

In [1]:
seq=[1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [2]:
i=1
while i<5:
    print("i is {}".format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [4]:
for x in range(0,6):
    print(x)
print(list(range(0,6)))

0
1
2
3
4
5
[0, 1, 2, 3, 4, 5]

In [5]:
x=[1,3,5,7,11,13]
out=[]
for i in x:
    out.append(i**2)
print(out)

[1, 9, 25, 49, 121, 169]

In [2]:
#list comprehension
x=[1,3,5,7,11,13]
print([i**2 for i in x])

[1, 9, 25, 49, 121, 169]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
def my_func(param1):
    param1=param1**2
    print(param1)
    
my_func(3)

9

In [11]:
#map function
def my_func(param1):
    param1=param1**2
    print(param1)
    return param1
seq=[1,2,3,4,5]
list(map(my_func,seq))

1
4
9
16
25

[1, 4, 9, 16, 25]

In [12]:
#lambda expression
seq=[1,2,3,4,5]
list(map(lambda num:num*5,seq))

[5, 10, 15, 20, 25]